@import url('https://fonts.googleapis.com/css?family=Roboto Condensed');

* {
    margin: 0;
    box-sizing: border-box;
}

/* Mudar as cores */
:root {
    --first-color: #0F0F0F;
    --second-color: #C6E2FF;
    --third-color: #FDFDFD;
    --fourth-color:	#D8BFD8;
    --fifth-color: #8B0A50;
    --sixth-color: #FFE4C4;
    --seventh-color: #4F4F4F;
    
    --font-family: 'Roboto Condensed', 'sans-serif';

    --font-size-tiny: 12px;
    --font-size-medium: 14px;
    --font-size-big: 16px;
    --font-size-big-big: 20px;
    --font-size-title-medium: 24px;
    --font-size-title-big: 32px;
    --font-size-title-big-big: 38px;

    --font-weight-ligth: 300;
    --font-weight-heavy: 700;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-ligth);
    color: var(--first-color);
}

h6 {
    font-size: var(--font-size-medium) !important;
    color: var(--first-color) !important;
    margin: 0 !important;
}

h1,
h2,
h3, 
h4 {
    font-weight: var(--font-weight-heavy) !important;
    color: var(--first-color) !important;
    margin: 0 !important;
}

h1 {
    font-size: var(--font-size-title-big-big);
}

h2 {
    font-size: var(--font-size-title-big);
}

h3 {
    font-size: var(--font-size-title-medium);
}

h5 {
    font-weight: var(--font-weight-heavy) !important;
    font-size: var(--font-size-medium) !important;
    color: var(--seventh-color) !important;
    font-style: italic !important;
}


button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--font-size-tiny);
    font-weight: var(--font-weight-heavy);
    color: var(--first-color);
}

input {
    padding: 4px 8px;
}

input::placeholder {
    opacity: .6;
}

a {
    text-decoration: none !important;
    color: var(--first-color) !important;
}

/* Secção */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-inner {
    padding: 25px;
    max-width: 1150px;
}

.section-column-gap-4 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.section-column-gap-6 {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.section-column-gap-8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-column-gap-16 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-column-gap-18 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.section-column-gap-25 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-column-gap-35 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 35px;
}

.section-column-gap-50 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 50px;
}

.section-row-gap-2 {
    display: flex;
    gap: 2px;
}

.section-row-gap-4 {
    display: flex;
    gap: 4px;
}

.section-row-gap-8 {
    display: flex;
    gap: 8px;
}

.section-row-gap-16 {
    display: flex;
    gap: 16px;
}

.section-row-gap-14 {
    display: flex;
    gap: 10px;
}

.section-row-gap-25 {
    display: flex;
    gap: 25px;
}

.section-row-gap-35 {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 35px;
}

.section-row-gap-45 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 45px;
}

.section-row-gap-50 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.section-row-gap-100 {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 100pc;
}

.section-row-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.section-row-space-between-direction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}

.section-row-space-between-direction-rigth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    flex-direction: row;
}

.section-space-between-left {
    display: flex;
    /* align-items: left; */
    flex-direction: row;
    width: 100%;
}

.section-row-flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.section-row-flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.section-row-flex-end-left {
    display: flex;
    align-items: left;
    justify-content: flex-end;
    width: 100%;
}

.section-centralize {
    align-items: center;
}

/* Navegação */

.navigation-menu {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: var(--second-color);
    padding: 16px;
    width: 100%;
}

.navigation-menu+.section {
    padding-top: 72px;
}

.navigation-anchor {
    flex-shrink: 0;
    gap: 16px;
    padding: 0;
    margin: 0;
    width: fit-content;
}

/* Anchor */

.anchor-item {
    list-style: none;
}

.anchor-item>a {
    font-weight: var(--font-weight-heavy);
}

/* Entrada de pesquisa */

.search-input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    background-color: var(--third-color);
    width: 250px;
    height: 35px;
}

.search-input>input {
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: var(--font-weight-heavy);

}


/* Carousel */

.indicators-carousel {
    position: relative !important;
    align-items: center;
    gap: 8px;
    margin: 0 !important;
}

.carousel-button {
    border-radius: 50%;
    width: 6px !important;
    height: 6px !important;
    border: 1px solid var(--first-color) !important;
    padding: 0;
}

.indicators-carousel .active {
    background-color: var(--first-color) !important;
}

.indicators-carousel :not(.active) {
    background-color: transparent !important;
}

/* Dropdown */

.toogle-dropdown {
    display: flex;
    align-items: left;
    justify-content: space-between;
    border: 2px solid var(--first-color);
    border-radius: 5px;
    outline: none;
    padding: 4px 8px;
    width: 250px;
    background-color: var(--third-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-heavy);
}

.menu-dropdown {
    width: 250px;
    border: 2px solid var(--first-color) !important;
    margin-top: 8px !important;
}

.item-dropdown {
    font-family: var(--font-family) !important;
    font-weight: var(--font-weight-heavy) !important;
    padding: 4px 8px !important;
}

.item-dropdown:hover {
    background-color: var(--sixth-color);
}

/* Rodapé */

.rodape {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 16px;
    background-color: var(--second-color);
    width: 100%;
}

/* Truncate */

.truncate-title {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: justify;
}

.truncate-description-destaques {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: justify;
}

.truncate-title-item {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 1;
    text-align: left;
    font-size: var(--font-size-title-medium);
    font-weight: var(--font-weight-heavy);
}

.trucante-detalhes {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
    text-align: justify;
}

/* Cores de Fundo*/

.background-purple {
    background-color: var(--fourth-color);
}

.background-orange {
    background-color: var(--sixth-color);
}

.background-blue {
    background-color: var(--second-color);
}

/* Alinhamento de texto */

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

/* Dimensões */

.height-10px {
    height: 10px;
}

.height-60px {
    height: 60px;
}

.height-150px {
    height: 150px;
}

.heigth-200px {
    height: 200px;
}

.height-400px {
    height: 400px;
}

.height-440px {
    height: 440px;
}

.height-410px {
    height: 410px;
}

.height-450px {
    height: 450px;
}

.height-100 {
    height: 590px;
}


.width-5px {
    width: 5px;
}

.width-16px {
    width: 16px;
}

.width-20px {
    width: 20px;
}

.width-100 {
    width: 100%;
}

.width-140 {
    width: 140%;
}

.width-75 {
    width: 75%;
}

.width-250px {
    width: 250px;
}
.width-2 {
    width: 2%;
}

.width-25 {
    width: 25%;
}

/* Fonte */

.font-weight-700 {
    font-weight: var(--font-weight-heavy);
}

.font-sytle-italic {
    font-style: italic;
}

.font-score {
    font-weight: var(--font-weight-heavy);
    color: var(--fifth-color) !important;
}

.font-titulo-lancamentos {
    font-weight: var(--font-weight-heavy) !important;
    font-size: var(--font-size-title-medium) !important;
}

.font-titulo-detalhes {
    font-size: var(--font-size-big-big) !important;
    font-weight: var(--font-weight-heavy) !important;
}


.font-descricao-detalhes {
    font-size: var(--font-size-big-big) !important;
}

/* Botão */

.button-mais-lancamentos-plataformas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    background-color: var(--fourth-color);
    width: fit-content;
    padding: 4px;
}

.button-mais-publishers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    background-color: var(--second-color);
    width: fit-content;
    padding: 4px;
}


/* Cobertura de Imagem */

@media screen and (max-width: 62rem) {
    .section-column-xs {
        flex-direction: column;
    }

    .hide-xs {
        display: none;
    }
}

@media screen and (max-width: 48rem){
    .section-column-xxs {
        flex-direction: column;
    }

    .hide-xxs {
        display: none;
    }
}

@media screen and (max-width: 29.5rem) {
    .section-column-xxxs {
        flex-direction: column;
    }

    .section-row-center-xxxs {
        justify-content: center;
    }

    .hide-xxxs {
        display: none;
    }
}

@media screen and (max-width: 17.5rem){
    .height-200px-xxxxs {
        height: 200px;
    }
}